@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --color-heading: #333;

  --color-text: #555;

  --bgc: #eee;
  --bgc-dark: #eee;

  --bgc-btn: #333;
  --bgc-btn-hovered: #555;

  --color-btn: #f1f1f1;

  --bgc-song-hovered: #ccc;

  --bgc-stroke: #dddddd;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  max-width: 1000px;
  padding: 0px 15px;
  margin: 0 auto;
}

.list-reset {
  list-style-type: none;
}

.button-reset {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.display-none {
  display: none;
}

.page {
  font-family: 'Roboto', sans-serif;
}

.stroke {
  height: 1px;
  background-color: var(--bgc-stroke);
}

/* Header */
.logo__img {
  width: 80px;
}

/* Albums */
.albums {
  padding: 20px 0px;
}

.album {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  background-color: var(--bgc);
  border-radius: 10px;
}

.album__header {
  display: flex;
  gap: 20px;
}


.album__cover {
  max-width: 240px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px 1px #ccc;
}

.album__right {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.album__title {
  font-size: 48px;
  line-height: 1;
  color: var(--color-heading);
}

.album__author {
  font-size: 26px;
  font-weight: 500;
  color: var(--color-text);
}

.button-album {
  align-self: start;
  width: 120px;
  height: 40px;
  font-size: 18px;
  color: var(--color-btn);
  background-color: var(--bgc-btn);
  border-radius: 10px;
  transition: background-color .2s ease;
}

.button-album__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.button-album:hover {
  background-color: var(--bgc-btn-hovered);
}

.button-album__left {
  position: relative;
  width: 16px;
  height: 16px;
}

.button-album__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.button-album__icon * {
  fill: var(--color-btn);
}

.button-album__icon-play + .display-none {
  background-color: red;
}

/* Song */
.song {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  transition: background-color .3s ease;
  cursor: pointer;
}

.song:hover {
  background-color: var(--bgc-song-hovered);
}

.songs__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.song__left {
  display: flex;
  align-items: center;
  gap: 4px;
}

.song__box {
  position: relative;
  width: 48px;
  height: 48px;
}

.song__cover {
  display: block;
  width: 100%;
  border-radius: 3px;
  transition: filter .3s ease;
}

.song:hover .song__cover {
  filter: brightness(0.3);
}

.song__button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity .3s ease;
}

.song:hover .song__button {
  opacity: 1;
}

.song__play-icon,
.song__pause-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  height: 45%;
}



.song__play-icon * {
  fill: var(--color-btn);
}

.song__pause-icon * {
  fill: var(--color-btn);
}

.song__title {
  color: var(--color-heading);
}

.song__author {
  color: var(--color-text);
}

.song__duration {
  font-weight: 500;
  color: var(--color-heading);
}

/* Media */
@media (max-width: 1024px) {
  .container {
    max-width: 800px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 700px;
  }

  .album__cover {
    max-width: 200px;
  }

  .album__title {
    font-size: 36px;
  }

  .album__author {
    font-size: 20px;
  }

  .button-album {
    width: 100px;
    height: 32px;
  }

  .button-album__left {
    width: 12px;
    height: 12px;
  }

  .button-album__text {
    font-size: 16px;
  }
}

@media (max-width: 470px) {
  .container {
    max-width: 440px;
  }

  .album {
    gap: 10px;
  }

  .album__header {
    gap: 10px;
  }

  .album__cover {
    max-width: 160px;
  }

  .album__title {
    font-size: 26px;
  }

  .album__author {
    font-size: 16px;
  }

  .button-album {
    width: 90px;
    height: 28px;
  }

  .button-album__text {
    font-size: 14px;
  }

  .song__title,
  .song__duration {
    font-size: 16px;
  }

  .song__author {
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  .container {
    max-width: 350px;
  }
  
  .album__cover {
    max-width: 140px;
  }

  .album__title {
    font-size: 22px;
  }

  .album__author {
    font-size: 14px;
  }

  .button-album {
    width: 40px;
    height: 28px;
  }

  .button-album__right {
    display: none;
  }

  .song__box {
    width: 40px;
    height: 40px;
  }

  .song__title,
  .song__duration {
    font-size: 12px;
  }

  .song__author {
    font-size: 10px;
  }
}